/*基于base.css的模块样式*/

/*块标题头部样式
sty1  定宽
sty2  还是定宽
sty3  线跟跟着文字走

*/
.sty1{
  padding-bottom: 10px;
  border-bottom: 2px solid #ecedee;
  margin-bottom: 20px;
  line-height: 28px;
}
.sty1:before{
  content: "";
  position: absolute;
  height: 2px;
  width: 56px;
  background-color: #2f3c4e;
  bottom: -2px;
  left: 0;
}
/*sty2        */
.sty2{
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0,0,0,0);
  margin-bottom: 20px;
  line-height: 28px;
}
.sty2:before{
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #2f3c4e;
  bottom: -2px;
  left: 0;
}
.sty2 .block-box-title-more{
  float: right;
  padding: 0px 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  border: 1px solid #ecedee;
  line-height:26px;
}
.sty2 .block-box-title-more:hover{
  background: #e74c3c;
}

/*sty3        */

.sty3{
  border-bottom: 2px solid #ecedee;
  margin-bottom: 20px;
  line-height: 28px;
}
.sty3 span{
  display:inline-block;
  padding-bottom:10px;
  position:relative;
}
.sty3 span:before{
  height:2px;
  width:100%;
  content:'';
  background:red;
  position:absolute;
  bottom:-2px;
}
.sty3 .block-box-title-more{
  float: right;
  padding: 0px 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  border: 1px solid #ecedee;
  line-height:26px;
}
.sty3 .block-box-title-more:hover{
  background: #e74c3c;
}/*块标题头部样式-end*/

/*自定义媒体对象*/
.custom.block-box-img{
  margin-right:10px;
  float:left;
}
.custom.block-box-content{
  padding-left:12px;
  border-left:1px solid #e5e5e5;
}
.custom.block-box-content a{
  font-size:15px;
}
.custom.block-box-content span{
  font-size:12px;
  display:block;
  margin:10px 0;
}/*自定义媒体对象-end*/


/*项目列表*/
/*第一种*/
ul.item-list1{
  margin-right:-10px;
  margin-bottom:-10px;
  outline:1px solid red;
  overflow:hidden;
}
.item-list1 li {
  float:left;
  background:#345;
  overflow:hidden;
}
.item-list1 div{
  margin:0 10px 10px 0;
  background:#fff;
  height:2em;
  overflow:hidden;
}
/*第二种*/
ul.item-list2{
  overflow:hidden;
}
.item-list2 li {
  float:left;
  overflow:hidden;
}
.item-list2 div{
  margin:5px;
  background:#fff;
  height:2em;
  overflow:hidden;
}
/*这里加了一层div*/
.item-box div.item-list2Box{
  background:#345;
  padding:5px;
}
/*第三种*/
.item-list3 li {
  float:left;
  overflow:hidden;
  background:#345;
}
.item-list3 .outer{
  padding-top:100%;
  background:#f60;
  position:relative;
  border-radius:50%;
  
}
.item-list3 .inner:before{
content: '';
display: inline-block;
vertical-align: middle;
height: 100%;
}
.item-list3 .inner{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
 
  text-align:center;
}
.item-list3 .inner span{
  vertical-align:middle;
  display:inline-block;
}/*项目列表-end*/
